@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserTypeNotSupport</title>
</head>
<body>
    <div>
        当前用户权限无法进行此操作。
    </div>
</body>
</html>
