@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HaveNoData</title>
    <style>
        body {
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    font-size: 63%;
    
}
    </style>
</head>
<body>
    <div>
        <p style="font-size:7em; color:#df4727; font-weight:bold; width:100%; text-align:center;">OOPS!!</p>
        <br />
        <p style="font-size:4em; font-weight:bold; width:100%; text-align:center;">还没有上传数据！！</p>
    </div>
</body>
</html>
