body 
{
    font:10.5pt/1.5 "微软雅黑";
}

#pwd-tab
{
    margin:10px;
    width:98%;
}

th
{
    color:White;
    background-color:#9c9c9c;
}

#pwd-tab td,
#pwd-tab th
{
    height :30px;
    line-height:30px;
    border:1px solid #ddd;
    vertical-align:middle;
}

#pwd-tab th
{
    width:150px;
    font-weight:normal;
    text-align:right;
}

input,select
{
    margin-left:10px;
    width:190px;
    padding:0 5px;
    border:1px solid #d9d9d9;
    border-bottom:1px solid #c0c0c0;
}

    inpunt:focus,select:focus {
        outline:none;
    }
